<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>getum</display-name>
  	
  	<!-- ============================================================ -->
  	<!-- META-INF/Context.xml 연결-->
  	<!-- ============================================================ -->
	<resource-ref>
	  <description>mysql연결</description>
	  <res-ref-name>jdbc/mysql</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	  <description>oracle연결</description>
	  <res-ref-name>jdbc/oracle</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	</resource-ref>
	<!-- ============================================================ -->
	
	
	
	<!-- ============================================================ -->
	<!-- Servelt 정보 -->
	<!-- ============================================================ -->
	<servlet>
		<servlet-name>MainController</servlet-name>
		<servlet-class>com.getum.controller.MainController</servlet-class>
		<init-param>
			<param-name>propertyConfig</param-name>
			<param-value>/WEB-INF/CommandPro.properties</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>*.get</url-pattern>
	</servlet-mapping>
	<!-- ============================================================ -->
	
	
	<!-- ============================================================ -->
	<!-- filter 필터 : encodingFilter -->
	<!-- ============================================================ -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.getum.util.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ============================================================ -->
	
	
	 
	<!-- ============================================================ -->
	<!-- filter 필터 : LoginCheckFilter -->
	<!-- ============================================================ -->
	<filter>
		<filter-name>LoginCheck</filter-name>
		<filter-class>com.getum.util.LoginCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginCheck</filter-name>
		<url-pattern>/view/home/cart.get</url-pattern>
		<url-pattern>/view/home/order.get</url-pattern>
		<url-pattern>/view/home/orderList.get</url-pattern>
		<url-pattern>/view/home/orderDetail.get</url-pattern>
		<url-pattern>/view/home/order.jsp</url-pattern>
		<url-pattern>/view/home/orderDetail.jsp</url-pattern>
		<url-pattern>/view/home/orderList.jsp</url-pattern>
		<url-pattern>/view/home/orderSuccess.jsp</url-pattern>
		<url-pattern>/view/home/signupSuccess.jsp</url-pattern>
	</filter-mapping>
	<!-- ============================================================ -->
	 
	
	
	<!-- ============================================================ -->
	<!-- welcome-file-list -->
	<!-- ============================================================ -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- ============================================================ -->
</web-app>